.grid-input {
    width: 20px; /* Cambia el ancho */
    height: 20px; /* Cambia la altura */
    text-align: center;
    background-color: lightblue;
    color: white;
    border: 1px solid black;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}
.fondo{
    background-image: linear-gradient(45deg,black, white);
    height: 100vh;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}
.calculadora{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}
.boton{
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31,31,31);
  border: none;
  color: #fff;
}
.boton img{
  padding: 0px;
  width: 47px;
}
.boton:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 495px;
    height: 220px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

td, tr{
    border: solid black;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(31, 31, 31);
  margin-left: 125px;
}

.menuOpciones{
  display:none;
  
  
  
}

.menuOpciones select{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;  
  border-style: none;
  margin-top: 5px;
  margin-bottom: 7px;
}

.menuOpciones select:hover{
  background-color: grey;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;

}

.menu a:hover {
  background-color: #ccc;

}

.menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.menu button {
  display: block;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  padding-left: 50px;
}

.menu button:hover {
  background-color: #eee;
    padding-left: 50px;

}

.menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu button {
  display: block;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #eee;
}

